.darmaneh-landing-page{
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 16px;
}
.darmaneh-landing-btn-container{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: center;
  margin-top : 20px;
  width : 100%;
}
.tripinn-features-containter{
  background-color: #12b2ce;
  padding-top: 20px;
  padding-bottom: 20px;
  /* margin-top : 10px; */
}
.tripinn-features-title{
  font-family: IRANSans;
  color : white;
  font-size : 22px;
  font-weight: 500;
  text-align: center;
  -webkit-user-select: none; /* Safari 3.1+ */
-moz-user-select: none; /* Firefox 2+ */
-ms-user-select: none; /* IE 10+ */
user-select: none; /* Standard syntax */
}
.tripinn-introduction-container{
  /* border : solid 1px #ededed; */
  width: 98%;
  background-color: white;
  padding-left : 2px;
  padding-right : 2px;
  padding-top : 20px;
  margin-top : 4px !important;
  padding-bottom: 6px;
  margin: auto;
}
.darmaneh-landing-btn{
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: IRANSans;
  height : 40px;
  width : 200px;
  margin:auto !important;
  background: #25d1ef;
  border: solid #ffffff 2px;
  text-decoration: none;
  outline: none !important;
}
.darmaneh-landing-logotype{
  color: #f54e4e;
  font-size: 32px;
  font-weight: 600;
  font-family: IRANSans;
  margin-bottom : 4px;
  margin-top : 0px !important;
  /* padding-top: 2px; */
}
.darmaneh-landing-logo{
  height : 60px !important;
  flex-grow: 1;
  -webkit-flex-grow : 1;
}
.darmaneh-landing-description{
  font-size: 20px;
  font-weight: 500;
  font-family: Shabnam;
  /* padding-top: 2px; */
  /* padding-bottom: 110px; */
}
.tripinn-introduction{
  font-family : IRANSans;
  font-size : 12px;
  margin: auto;
  margin-top : 10px;
  padding-left: 4px;
  padding-right :4px;
  width : 94%;
  text-align: justify;
  direction: rtl;
  color:#454545;
}
.tripinn-introduction-title{
  font-size : 16px;
  font-weight : 500;
  text-align: center;
  font-family: IRANSans;
  margin-top : 10px;
  -webkit-user-select: none; /* Safari 3.1+ */
-moz-user-select: none; /* Firefox 2+ */
-ms-user-select: none; /* IE 10+ */
user-select: none; /* Standard syntax */
}

.introduction-paragraph{
  -webkit-user-select: none; /* Safari 3.1+ */
-moz-user-select: none; /* Firefox 2+ */
-ms-user-select: none; /* IE 10+ */
user-select: none; /* Standard syntax */
  line-height: 26px !important;
}
.tripinn-boomgardi-introduction{
  font-family : IRANSans;
  font-size : 12px;
  margin: auto;
  margin-top : 10px;
  padding-left: 4px;
  padding-right :4px;
  width : 94%;
  text-align: justify;
  direction: rtl;
  color:#454545;
}
.tripinn-villa-introduction{
  font-family : IRANSans;
  font-size : 12px;
  margin: auto;
  margin-top : 10px;
  padding-left: 4px;
  padding-right :4px;
  width : 94%;
  text-align: justify;
  direction: rtl;
  color:#454545;
}
.tripinn-darmaneh-connection{
  font-family: IRANSans;
  margin-top : 30px;
  font-size : 14px;
  direction: rtl;
  padding-left : 6px;
  padding-right : 6px;
  margin-bottom : 10px;
  /* width : 100%; */
  text-align: center;

}
.discount-code-container{
  height: 234px;
}

.darmaneh-landing-download-area{
  height: 620px;
  width: 100%;
  padding-top : 280px;
  text-align: center;
}
.discount-code-title{
  margin:auto;
  font-size:  18px;
  font-weight: 500;
  font-family: Shabnam;
  direction: rtl;
  flex-grow: 3;
  -webkit-flex-grow : 3;
  width : 100%;
  text-align: center;
}

.discount-code-input-section{
  width : 90%;
  margin:auto;
  display : flex;
  display : -webkit-flex;
  flex-direction: row;
  justify-content: space-around;
}
.darmaneh-download-app-modal-icons-containerP{
  /* display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction:column;
  justify-content: center; */
  /* width : 100%; */
}
.darmaneh-landing-download-app-anchor{
  margin : auto;

}
.darmaneh-landing-download-icon-app{
  height : 50px !important;
  width : 180px !important;
  margin-bottom : 20px;
}
