.house-details-main-division{
  font-family: IRANSans;
  color : #454545 ;
  background-color: #F5F5F5;
}
.house-details-top-division{
  height : 730px;
  background-color: white;
}
.house-details-gallery{
  height: 530px;
  background-color: grey;
}
.house-details-main-information{
  height: 200px;
  width: 1080px;
  margin: auto;
}
.house-details-bottom-division{
  width: 1080px;
  margin: auto;
  justify-content: space-between;
}
.house-details-contents{
  width: 675px;
}
.house-details-reserve-panel{
  width: 395px;
}
.housedetails-content-containers{
  background-color: white;
  margin-top: 12px;
  border-radius: 5px;
}
.house-details-menu-link-scrolls{
  height: 48px;
}
.house-details-amenities-description{
  height: 400px;
  margin-top: 5px !important;
}
.house-details-rules{
  height: 400px;
}
.house-detail-titles{
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 1.3rem !important ;
  margin-bottom: 0.4rem;
  color: #454545;
  padding-left: 15px;
}
.paragraph-space{
  padding-left: 0.3rem;
}
.main-amanities{
}
.main-amanities-item{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
}
.main-amanities-icon{
  height: 28px;
  margin: 10px 0px 10px 5px;
}
.aminities-text{
  margin-top: 14px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
}
.aminities-text-static-xl{
  margin-top: 14px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
.row-reverse-house-adress-type{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  font-family: IRANSans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  margin-top: 0 !important;
  color: #454545;
  text-align: left;
  padding-left: 15px;
}

.navigation-menu-items{
  margin-left: 18px;
  cursor : pointer;
  color : #767676;
  font-size: 16px;
  margin-top: 10px !important;
}
