/* general styles here */
.terms-container{
margin-left: 40px;
margin-right: 40px;
line-height: 2.0;
}

.terms-header{
  text-align: center;
  font-size:34px;
  font-weight:500;
  padding-top: 20px;
  font-family: IRANSans;
  margin-bottom:50px;
}

.terms-descriptions{
  line-height: 30px;
}

.terms-tripinn-brand-heading{
  color:#12b2ce;
}

.terms-sub-title{
  text-align: center;
  font-size:28px;
  font-weight:500;
  font-family: IRANSans;
  margin-top: 60px;
  margin-bottom: -5px;
}

.terms-services-main1{
margin-top: 20px;
line-height: 32px;;

}

.terms-services-main2{
margin-top: 20px;
line-height: 32px;;
margin-bottom: 70px;
}

.terms-panel1-container{
  font-size: 14px;
  background-color: #fdfdfd;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.terms-panel-box{
  background: #f8f8f8;
  border: solid;
  border-color: #e5e5e5;
  border-width: 1px;
  margin-bottom:6px;
  cursor : pointer;
  padding: 5px 0px 5px 0px;
  justify-content: space-between;
}

.terms-close-panel1-text{
  text-align: right;
  font-size:16px;
  font-weight:500;
  font-family: IRANSans;
  margin-right: 20px;
}
.terms-open-panel1-text{
  color:#2ec6cc;
  text-align: right;
  font-size:16px;
  font-weight:500;
  font-family: IRANSans;
  margin-left: 500px;
  margin-right: 20px;
}

.terms-open-panel-img{
  transform: rotate(180deg);
  float: left;
}

.terms-close-panel-img{
  float: left;
}
.terms-open-panel9-text{
  color:#2ec6cc;
  text-align: right;
  font-size:16px;
  font-weight:500;
  font-family: IRANSans;
  margin-left: 527px;
  margin-right: 20px;
}


/* general styles finished */


/* XL styles here */
.terms-cadre-xl{
  font-family: IRANSans;
  font-size: 16px;
  height: 75%;
  width: 85rem;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: right;
  border: 2px solid #e4e4e4;
  border-radius: 7px;
  color:#484848;
}
/* XL styles Finished */


/* MD styles here */
.terms-cadre-md{
  font-family: IRANSans;
  font-size: 16px;
  height: 75%;
  width: 68rem;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: right;
  border: 2px solid #e4e4e4;
  border-radius: 7px;
  color:#484848;
}


/* MD styles Finished */




/* SM styles here */


/* SM styles Finished */


/* XS styles here */
.terms-cadre-xs{
  font-family: IRANSans;
  font-size: 14px;
  height: 75%;
  width: 94%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
     text-align: justify;
       border: 2px solid #e4e4e4;
  border-radius: 7px;
  color:#484848;
}
.terms-container-xs{
margin-left: 10px;
margin-right: 10px;
line-height: 1.5;
}
.terms-header-xs{
  text-align: center;
  font-size:26px;
  font-weight:500;
  padding-top: 10px;
  font-family: IRANSans;
  margin-bottom:28px;
}
.terms-sub-title-xs{
  text-align: center;
  font-size:22px;
  font-weight:500;
  font-family: IRANSans;
  margin-top: 40px;
  margin-bottom: -5px;
}

.terms-close-panel1-text-xs{
  text-align: right;
  font-size:13px;
  font-weight:600;
  font-family: IRANSans;
  margin-right: 16px;
}
/* XS styles Finished */
