.error-404-page{
  display: flex;
  display : -webkit-flex;
  justify-content: center;
  -webkit-flex-direction:column;
  flex-direction : column;
  align-items: center;
  width : 100%;
  margin-top : 100px;
  height :100%;
}

.error-404-image{
  height : 200px;
  /* margin-top : 100px ; */
}
.error-404-description{
  font-size : 18px;
  font-family: Shabnam;
  direction : ltr;
  margin-top : 50px;
}
.error-404-page-link{
  text-decoration: none !important;
  outline: none !important;
}
.return-to-home-page-button{
  background-color: #0ccbed;
  color : white;
  font-family: Shabnam;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 34px;
  width : 172px;
  cursor: pointer;
  border-radius : 27px;
  border : none;
  display : -webkit-flex;
  justify-content: center;
  align-items: center;
}
