.main-page-searchbar-container {
  position: absolute;
  font-family: IRANSans !important;
}

.main-page-searchbar-input {
  height: 40px;
  padding: 10px 20px;
  margin-top: -5px;
  font-family: IRANSans;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.main-page-searchbar-input-md {
  height: 40px;
  padding: 10px 20px;
  margin-top: -5px;
  font-family: IRANSans;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.main-page-searchbar-input--focused {
  outline: none;
}

.main-page-searchbar-input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.main-page-searchbar-suggestions-container {
  display: none;
}

.main-page-searchbar-suggestions-container--open {
  display: block;
  /* position: absolute; */
  top: 51px;
  width: 240px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: IRANSans;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}


.main-page-searchbar-suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-page-searchbar-suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.main-page-searchbar-suggestion--highlighted {
  background-color: #ddd;
}
