/* general styles here */
.search-bar-main-division{
  font-family: Shabnam;
}

.search-bar-tripinn-heading{
  margin-right: 54px;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0px !important;
  color: #f54e4e;
}
.search-bar-tripinn-heading-2{
  margin-right: 54px;
  font-size: 33px;
  margin-bottom: 18px !important;
  color:#454545;

}

.search-bar-auto-suggest{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  border: solid;
  height: 100%;
  border-radius: 16px;
  border-color: #f2f2f2;
}
.search-bar-inter-destenation-text{
  margin-right: 30px;
  margin-top: -8px !important;
  padding-top:-5px !important;
  padding-left: 15px;
  padding-right: 5px;
  background: white;
  position: absolute;
  font-size: 1rem;
}
.search-bar-auto-suggest-input{
  width: 680px !important;
}
.main-page-searchbar-container{
  height: 70px !important;
  width: 680px !important;
}

.main-page-searchbar-container--open{
}

.main-page-searchbar-input{
  font-family: Shabnam !important;
  height: 70px !important;
  width: 680px !important;
  font-size: 24px !important;
  border: none !important;
  padding: 0px 30px !important;
  margin-top: 3px !important;
  background-color: transparent !important;
}

.main-page-searchbar-input--open{
  color:#454545;

}

.main-page-searchbar-suggestions-container--open{

}

.main-page-searchbar-suggestions-list{

}

.main-page-searchbar-suggestion{
  font-size: 18px;
  padding-top: 12px !important;
  height:48px;
  color:#454545;
  font-weight: medium;
  border-top: solid;
  border-color: #f0f6f8;
  border-width: 2px;
}

.main-page-searchbar-suggestion--first{
  border-top: none;
}

.main-page-searchbar-suggestion--highlighted{
  background-color: #f2f7f9 !important;
}

.main-page-searchbar-section-container{

}

.main-page-searchbar-section-container--first{

}

.main-page-searchbar-section-title{

}
.search-bar-auto-suggest-button{
}
.search-bar-search-button{
  height: 70px;
  width: 77px !important;
  background-color: #05bedd;
  border-radius: 13px 0px 0px 13px;
  border: none;
}
.search-bar-search-button:hover{
  background-color: #1ba7be;
  outline: none;
}
.search-bar-search-button:focus{
  background-color: #1ba7be;
  outline: none;
}
.search-bar-search-icon{
  height: 40px;
  margin-top: 4px;
}

/* general styles finished */


/* XL styles here */
.search-bar-contents-xl{
  margin-top: 130px;
  width: 1110px;
  max-width: 1500px;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  direction: rtl;
}

.search-bar-background-xl{
  position: fixed;
  bottom: 0;
  width: 100%;
  /* margin-top: 17rem; */
  height: 32rem;
  width: 100%;
  background-image: url(tripinn-background.png);
  background-size: contain;
  background-position: 0,100%;
  background-repeat: no-repeat;
  z-index: -1000 !important;
}

.search-bar-auto-suggest-container-xl{
  background-color: white;
  height: 115px;
  width: 800px;
  max-width: 1200px;
  border-radius: 16px;
  -webkit-box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
  -moz-box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
  box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
  padding: 20px 20px 20px 20px;
}

.main-page-searchbar-suggestions-container-xl{
  width: 680px !important;
  margin-top: 0px;
  border: none !important;
  -webkit-box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
  -moz-box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
  box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
}
/* XL styles Finished */




/* MD styles here */

.search-bar-contents-md{
  margin-top: 100px;
  width: 920px;
  max-width: 1110px;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  direction: rtl;
}
.search-bar-background-md{
  position: fixed;
  bottom: 0;
  width: 100%;
  /* margin-top: 17rem; */
  height: 28rem;
  width: 100%;
  background-image: url(tripinn-background.png);
  background-size: contain;
  background-position: 0,100%;
  background-repeat: no-repeat;
  z-index: -1000 !important;
}

.search-bar-auto-suggest-container-md{
  background-color: white;
  height: 115px;
  width: 650px;
  max-width: 800px;
  border-radius: 16px;
  -webkit-box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
  -moz-box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
  box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
  padding: 20px 20px 20px 20px;
}

.main-page-searchbar-suggestions-container-md{
  width: 528px !important;
  margin-top: 0px;
  border: none !important;
  -webkit-box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
  -moz-box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
  box-shadow: 1px 2px 28px 3px rgba(0,0,0,0.07);
}

/* MD styles Finished */








/* SM styles here */
/* SM styles Finished */



/* XS styles here */
/* XS styles Finished */
