/* general style here */
.login-modal-forget-password-paragraph{
  color : #12b2ce;
  text-align: center;
  margin-bottom: 20px!important;
  margin-top: 10px;
  cursor : pointer;
}
.forget-password-modal{
  font-family: IRANSans;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width: 96%;
  /* flex-wrap : wrap; */
}
.forget-password-title{
  font-family : Shabnam;
  font-size : 20px;
  margin:auto;
  color : #595959;
  margin-top : 20px;
}
.forget-password-modal-divider{
  width : 100%;
  border : solid 1px #ececec;
}
.forget-password-modal-input-zone{
  margin:auto;
  font-family: IRANSans;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width : 100%;
}

.forget-password-modal-input-paragraph{
  width: 100;
  margin-right : 16px;
  color : #a1a1a1;
  font-size : 12px;
  text-align:right;
  direction: rtl;
}

.forget-password-modal-input{
  width : 360px;
  height :32px;
  border : none;
  background-color: #f2f2f2;
  border : none;
  margin-left : 22px;
  border-radius : 5px;
  text-align : right;
  font-family : IRANSans;
  font-size : 14px;
  text-align : right;
  padding: 0px 10px 0px;
  margin-bottom : 20px;
}
.forget-password-modal-input:focus{
  width : 360px;
  height :32px;
  border : none;
  background-color: #f2f7f9;
  border : solid 2px #12b2ce;
  margin-left : 22px;
  border-radius : 5px;
  text-align : right;
  font-family : IRANSans;
  font-size : 14px;
  text-align : right;
  padding: 0px 10px 0px;
  margin-bottom : 20px;
}
.forge-password-change-password-button{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin-left : 50px;
  margin-top : 10px;
  border-radius : 25px;
  font-family : IRANSans;
  font-size : 20px;
  height : 48px;
  background-color: #0fb9dc;
  color : white;
  width : 300px;
  cursor : pointer;
}
.log-in-false-pass-visible{
  color:#f54e4e;
  font-family: IRANSans;
  font-size: 14px;
  margin-top: 12px !important;
  line-height: 20px;
  visibility: visible;
  margin-left : 160px;

}

.error-message-in-forget-password-modal {
  color: red;
  font-family: IRANSans;
  font-size: 14px;
  text-align : right;
  margin-bottom:10px;
  line-height: 20px;
}

.error-message-in-forget-password-modal-hidden {
  color:#f54e4e;
  font-family: IRANSans;
  font-size: 14px;
  text-align : right;
  margin-bottom:10px;
  visibility: hidden;
  line-height: 20px;
}

.set-pass-error-hidden {
  visibility: hidden;
  font-family: IRANSans;
  font-size:14px;
  margin-top : 0px;
  color: red;
}

.set-pass-error-visible {
  visibility: visible;
  margin-top : 0px !important;
  font-family: IRANSans;
  font-size: 14px;
  color: red;
}

.set-pass-password-wrong {
  float: right;
  height: 32px;
  outline: none;
  width : 344px;
  padding: 2px 10px 2px;
  border: solid 2px red;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: IRANSans;
  font-weight: 400;
  font-size: 14px;
  color: #454545;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f2f2f2;
}
.set-pass-password-wrong:focus {
  /* float: right; */
  height: 32px;
  outline: none;
  width : 344px;
  padding: 2px 10px 2px;
  border: solid 2px red;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: IRANSans;
  font-weight: 400;
  font-size: 14px;
  color: #454545;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f2f2f2;
}

.set-pass-password-right:focus {
  border : solid 2px #7ad6e8;
  outline: none;
  background-color: #f2f7f9;
  padding: 0px 8px 0px;
  width : 344px;
  height: 32px;
}
.set-pass-password-right {
  /* float: right; */
  height: 32px;
  outline: none;
  width : 344px;
  padding: 2px 10px 2px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: IRANSans;
  font-weight: 400;
  font-size: 14px;
  color: #454545;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f2f2f2;
}

.sign-up-password-wrong {
  float: right;
  height: 32px;
  outline: none;
  width : 344px;
  padding: 2px 10px 2px;
  border: solid 2px red;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: IRANSans;
  font-weight: 400;
  font-size: 14px;
  color: #454545;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f2f2f2;
  text-align: right;
}
.sign-up-password-wrong:focus {
  /* float: right; */
  height: 32px;
  outline: none;
  width : 344px;
  padding: 2px 10px 2px;
  border: solid 2px red;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: IRANSans;
  font-weight: 400;
  font-size: 14px;
  color: #454545;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f2f2f2;
  text-align: right;
}

.sign-up-password-right:focus {
  border : solid 2px #7ad6e8;
  outline: none;
  background-color: #f2f7f9;
  padding: 0px 8px 0px;
  width : 344px;
  height: 32px;
  text-align: right;
}
.sign-up-password-right {
  /* float: right; */
  height: 32px;
  outline: none;
  width : 344px;
  padding: 2px 10px 2px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: IRANSans;
  font-weight: 400;
  font-size: 14px;
  color: #454545;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #f2f2f2;
  text-align: right;
}

.sign-up-error-hidden {
  visibility: hidden;
  float : right;
  font-family: IRANSans;
  font-size:14px;
  margin-top : 0px;
  color: red;
}

.sign-up-error-visible {
  visibility: visible;
  float : right;
  margin-top : 0px !important;
  font-family: IRANSans;
  font-size: 14px;
  color: red;
}
/* general style finished */

/* xl style here */
/* xl style finished */

/* md style here */
/* md style finished */

/* sm style here */
/* sm style finished */

/* xs style here */
/* xs style finished */
