/* general style here */
.login-modal-forget-password-paragraph{
  color : #12b2ce;
  text-align: center;
  margin-bottom: 20px!important;
  margin-top: 10px;
  cursor : pointer;
}
.forget-password-modal{
  font-family: IRANSans;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width: 96%;
  /* flex-wrap : wrap; */
}
.forget-password-title{
  font-family : Shabnam;
  font-size : 20px;
  margin:auto;
  color : #595959;
  margin-top : 20px;
}
.forget-password-modal-divider{
  width : 100%;
  border : solid 1px #ececec;
}
.forget-password-modal-input-zone{
  margin:auto;
  font-family: IRANSans;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  width : 100%;
}

.forget-password-modal-input-paragraph{
  width: 100;
  margin-right : 16px;
  color : #a1a1a1;
  font-size : 12px;
  text-align:right;
  direction: rtl;
}

.forget-password-modal-input{
  width : 360px;
  height :32px;
  border : none;
  background-color: #f2f2f2;
  border : none;
  margin-left : 22px;
  border-radius : 5px;
  text-align : right;
  font-family : IRANSans;
  font-size : 14px;
  text-align : right;
  padding: 0px 10px 0px;
  margin-bottom : 20px;
}
.forget-password-modal-input:focus{
  width : 360px;
  height :32px;
  border : none;
  background-color: #f2f7f9;
  border : solid 2px #12b2ce;
  margin-left : 22px;
  border-radius : 5px;
  text-align : right;
  font-family : IRANSans;
  font-size : 14px;
  text-align : right;
  padding: 0px 10px 0px;
  margin-bottom : 20px;
}
.forge-password-change-password-button{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  margin-left : 50px;
  margin-top : 10px;
  border-radius : 25px;
  font-family : IRANSans;
  font-size : 20px;
  height : 48px;
  background-color: #0fb9dc;
  color : white;
  width : 300px;
  cursor : pointer;
}
.log-in-false-pass-visible{
  color:#f54e4e;
  font-family: IRANSans;
  font-size: 14px;
  margin-top: 9px;
  line-height: 20px;
  visibility: visible;
}
.log-in-false-pass-hide{
  color:#f54e4e;
  font-family: IRANSans;
  font-size: 14px;
  margin-top: 9px;
  line-height: 20px;
  visibility: hidden;
}

.error-message-in-forget-password-modal {
  color:#f54e4e;
  font-family: IRANSans;
  font-size: 14px;
  text-align : right;
  margin-bottom:10px;
  line-height: 20px;
}

.error-message-in-forget-password-modal-hidden {
  color:#f54e4e;
  font-family: IRANSans;
  font-size: 14px;
  text-align : right;
  margin-bottom:10px;
  visibility: hidden;
  line-height: 20px;
}
/* general style finished */

/* xl style here */
/* xl style finished */

/* md style here */
/* md style finished */

/* sm style here */
/* sm style finished */

/* xs style here */
/* xs style finished */
