.house-details-facilities-other-amanities-icon{
  height:26px;
  align-items: center;
  justify-content: center;
}

.house-details-facilities-item{
  margin-right: 0px;
  margin-left : 10px;
  /* margin-top : 20px; */
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  height: 33px;
  width : 120px;
}
.house-details-facility-text{
  margin-right: 6px;
  margin-left: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #454545;
}
