/* general styles here */
.user-profile-main-division{
  display : flex;
  display : -webkit-flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-top : 100px;
}
.user-profile-edit-main-division{
  width : 695px;
  margin-right: 10px;
  background-color: white;
  height : 800px;
  border:solid;
  font-family: IRANSans !important;
}

.user-profile-in-details-main-division{
  width : 400px;
  height: 500px;
  background-color :white ;
  border:solid;
  font-family: IRANSans !important;
}
/* general styles finished*/


/* xl styles here */
.user-profile-profile-picture{

  border-radius: 50% !important;
  margin-top : 30px;
}

.user-profile-in-details-link{
  direction: rtl;
}
.user-profile-edit-get-data-zone{
  direction:rtl;
  margin-right : 10px;
}
.user-profile-edit-input-paragraph-title{
}
.user-profile-edit-input{
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  font-family: IRANSans;
  font-size: 16px !important;
  display: block;
  outline:none;
  width: 300px;
  height: 30px;
  padding: 10px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #f2f2f2;
  border-radius: 5px;
  border:none;
  margin-top:10px;
  direction:rtl;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* xl styles finished */

/* md styles here */
/* md styles finished */

/* sm styles here */
/* sm styles finished */

/* xs styles here */
/* xs styles finished */
