.login-modal-main{
  font-family: IRANSans;
}
.login-title-in-modal{
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
.enter-phone-number-inmodal{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.login-input{
  text-align: right !important;
}
.login-modal-button{
  width: 100%;
}
.enter-number-main{
  margin: auto;
  text-align: center;
}
.main-menu-user{
  cursor :pointer;
  text-align : center;
}
.main-menu-header{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row;
}
.LogoImage{
  height:60px;
  margin-top: .7em;
  margin-left: 10px;
}
.LogoImage-mobile{
  height:40px;
  display: block;
    margin-left: auto;
    margin-right: auto
  }
.header{
  width:100% !important;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  background-color: white;
  }
  .hearder-child-margined{
    width:92%;
    margin: auto;

  }
  .price{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    margin: auto;
    flex-direction: row;
  }
.headerchild{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  height:80px;
  width:94%;
  background-color: white;
  vertical-align:middle;
  }
  .logomobile{
    margin: auto;
  }
  .headermobile{
    height:50px;
    margin: auto;
    width:90%;
    margin-top:.6em;
    }
.logoname-mobile{
    margin: auto;
  }
.logodiv{
  vertical-align: middle;
}
.logodiv-mobile{
  margin-top: .4em;
}
.logofont{
  font-family: IRANSans;
  font-size: 2.8em;
  font-style: normal;
	font-weight: 500;
  padding-top: .25em;
  color: #12b2ce;
}
.logofont-mobile{
  font-family: IRANSans;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 600;
  margin-top:.17em;
  padding-top: 3px;
  color: #12b2ce;
  margin-right: .3em;
}
.logodiv0{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}

.logolink:hover {
   text-decoration:none;
}
.footer{
  width:100%;
  background-color: #f2f2f2;
  vertical-align:middle;
}
.footerchild{
  width:94%;
  margin: auto;
}
.footer-mobile-container{
  width:90%;
  margin: auto;
  padding-top: 10px;
  background-color: #f2f2f2;
}
.footer-menu-mobile-item{
  height:2.6rem;
  border-bottom-style: solid;
  border-color: grey;
 border-width: 0.05em;
  }
.footer-menu-mobile-link:hover {
  text-decoration:none;
}
.footer-menu{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.footer1{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  margin-top: -5px;
  margin-button: -5px;
}
.logo-menu-font{
  font-family: IRANSans;
  font-size: 1em;
  font-style: normal;
	font-weight: 500;
  margin-top: 1em;
  margin-left: 1em;
  color: #646464;
}
.logo-footer-menu-font-mobile{
  font-family: IRANSans;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  padding-top:8px;
  color: #646464;
  text-align: right;
}
.social-image{
  height:1.6em;
  margin-right: 1em;
  margin-top: 2em;
  margin-bottom: 2em;

}
.freezone{
  width:100%;
  background-color: red;
}
:root {
    --space: 1.5em 0;
    --space: 2em 0;
}
.main{
  height:100%;
}
.footer-menu-and-dl{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.download-app-text{
  font-family: IRANSans;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  padding-top: 1em;
  color: #ffffff;
  margin: auto;
}
.downloadbotton{
  margin: auto;
}
.social-image{
}
.footer-menu-mobile-social{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.free-zone{
  height:10em;
}
.search-btn{
  display:flex;
  -webkit-box-pack:center;
  align-items: center;
  background-color: #3fd4ee;
  width: 10%;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.ui.blue.buttons .button, .ui.blue.button {
    background-color:#3fd4ee ;
}
.ui.blue.buttons:hover .button:hover, .ui.blue.button:hover {
    background-color:#04b2d0;
}
.ui.blue.buttons:active  .button:active, .ui.blue.button:active {
    background-color:#04b2d0 ;
}
.ui.blue.buttons:focus  .button:focus, .ui.blue.button:focus {
    background-color:#3fd4ee ;
}

i.big.icon,
i.big.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 1.8em !important;
}

.search-btn-xs{
  background-color: #3fd4ee;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.search-image{
  height: 2.6rem;
}
.search-image-xs{
  height: 2rem;
}

.searchbar-zone{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  margin-top: 3rem;
  height: 4rem;
  background-color: white;
    box-shadow: 0 .2rem 1rem rgba(0,0,0,.15);

}
.search{
  font-family: IRANSans !important;
  text-align: right !important;
}
.searchbar-zone-mobile{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  height: 4rem;
  background-color: white;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.15);
  margin-bottom: 85px;
}
.suitcase-image{
  height: 8.6rem;
  margin-right: 2rem;
}
.seach-top-slogan-container{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.slogan-1{
  font-family: IRANSans;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  color: #454545;
  text-align: right;
  margin-right: 1.5rem;
}
.slogan-2{
  font-family: IRANSans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin-top: 0;
  color: #454545;
  text-align: right;
  margin-right: 1.5rem;
}
.slogan-container{
  margin-top: .8rem;
}
.xxx{
margin-right:8em;
}
.typehead{
  height:100%;
  width:100%;
  font-family:IRANSans;
  font-style: normal;
  font-weight: 450;
  color: #454545;
  text-align: right;
}
.rbt-input-main{
  font-family:IRANSans;
  font-style: normal;
  font-weight: 450;
  color: #454545;
  text-align: right;
  margin-right: 18px;
}
.typehead-mobile{
  height:100%;
  width:100%;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 450;
  color: #454545;
}
.input-lg {
  height: 100% !important;
  padding: 12px 0px !important;
  padding-right: 100px;
  font-size: 18px;
  line-height: 2 !important;
  border-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-width: 0px !important;

}
.rbt-input-hint{
text-indent: -9999px
}

.input-sm {
  height: 100% !important;
  padding: 8px 8px !important;
  line-height: 2 !important;
  border-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-width: 0px !important;
}
.main-zone{
margin-top: 150px;
}
.main-zone-xs{
  margin: auto;
  margin-top: 50px;
}
.render-houses-row{
  margin-top: 70px;
  width: 100%;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.dropdown-menu{
  text-align: right !important
}
.downloadbotton-bordered{
width:34%;
height:40px;
background-color: #f26c4f;
border-radius: 40px;
}
.mamadnaboodi{
  margin-top: 1000px;
}
.row-reverse-house-adress-type{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  font-family: IRANSans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  margin-top: 0;
  color: #454545;
  text-align: left;
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
.house-detail-titles{
  font-family: IRANSans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  color: #454545;
  padding-right: 15px;
  padding-left: 15px;
}
.housedetail-main1{
  background-color: red;
}
.navigation-menu-housedetails{
  height: 30px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  font-family: IRANSans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  color: #737373;
  text-align: left;
  border-radius: 5px;
  border-color: red;
  margin-right: 15px;
}
.navigation-menu-items{
  margin-left: 15px;
}
.house-detail-top{
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);

}
.house-detail-top-margined{
  margin:auto;
  width: 80%;
  margin-top: 15px;
}
.main-details{
  background-color: grey;
}
.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.house-details-preview{
  height: 500px;
   width: 100%;
   object-fit: cover;
}
.reserve-card{
  background-color: #fff;
  margin-top: 20px;
  padding: 5px;
  border-style: solid;
  border-color: #d5d5d5;
border-width: 2px;
  border-radius: 6px;
}
.reserve-card-child{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.text-011{
  font-family: IRANSans;
  font-size: .8rem;
  font-style: normal;
  font-weight: 400;
  color: #737373;
  text-align: right;
}
.host-texts{
  margin-top: 12px;
  margin-right: 5px;
}
.text-013{
  font-family: IRANSans;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  color: #737373;
  text-align: right;
}
.text-012{
  font-family: IRANSans;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  color: #292929;
  text-align: left;
  margin-right: 6px;
}

.reserve-request{

}
.reserve-button{
  width: 100% !important;
  font-family: IRANSans !important;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}
.main-amanities{
  margin-top: 30px;
}
.main-amanities-item{
  height: 30px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  font-family: IRANSans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  color: #737373;
  text-align: left;

}
.main-amanities-icon{
  height: 30px;
  margin: 10px;
}
.col-details-house{
  margin-bottom: 180px;
}
.main-descriptions{
  margin-top: 20px;
  text-align: right;
  font-family: IRANSans;
  padding: 18px;

}
.des-header{
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  color: #737373;
}
.des-main{
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  color: #737373;
}
.host-info{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.avatar-icon{
  height: 75px;
}

.host-img{
height: 75px;
border-radius: 50px;
}

.rating-div{
  margin-bottom:15px;
  -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}
.aminities-text{
  margin-top: 14px;
  font-size: 18px;
  font-weight: 400;
  margin-left: 5px;
}
.result-detail{
  font-family: IRANSans;
  text-align: right;

}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 22px;
  left: 16px;
  top: 22px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  height: 12% !important;
  background-color: #0090aa;


}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 100px;
  width: 22px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #12b2ce;
  -ms-transform: scale(2, 2); /* IE 9 */
-webkit-transform: scale(2, 2); /* Safari */
transform: scale(2, 2);
}

/* General sidebar styles */
.bm-menu {
  background: rgba(255, 255, 255, 1);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.2em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(255, 255, 255, 0.2);
}
.header-menu-desktop{
  width:100%;
}
.render-results{
  margin-top: 0px;
}
.results-search{
  height: 80px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);

}
.typehead-results{
  font-family:IRANSans;
  font-style: normal;
  font-size: 10px !important;
  font-weight: 400;
  color: #454545;
  text-align: right;
}
.results-serach-child{
  width: 88% !important;
  font-family: IRANSans;
  margin: auto;
}
.search-inputs{
  margin: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
}

.multi-input-1{
  height: 60px;
  width: 100px;
  background-color: white;
  margin-top: 10px;
  margin-left: 7px;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.15);
}
.multi-input-2{
  height: 55px;
  margin-top: 10px;
  margin-right: 10px;
}
.reserve-button-div{
  margin-top: 20px;
}
.divider{
  height: 1px;
  margin-top:10px;
  margin-bottom: 10px;
  background-color: #d2d2d2;
}
.facilities-item{
  margin: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  padding: 2px;
  flex-direction: row-reverse;
}
.facility-text{
  margin-top: 5px;
  margin-right: 6px;
  font-size: .8rem;
  font-weight: 400;
  color: #737373;
}
.other-amanities-icon{
  height:22px;
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('./fonts/eot/IRANSansWeb(FaNum)_Black.eot');
	src: url('./fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
	src: url('./fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
	src: url('./fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/eot/IRANSansWeb(FaNum)_Light.eot');
	src: url('./fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('./fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
	src: url('./fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/eot/IRANSansWeb(FaNum).eot');
	src: url('./fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}
.divider-card{
  height: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #d2d2d2;
}
.reserve-number-box{
  margin: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
/* .add-circle{
border-style: solid;
border-radius: 20px;
height:40px;
width:40px;
margin:10px;
margin-left: 50px;
border-color: #d3d3d3;
border-width: 4px;
align-items: center;
justify-content: center;
} */
.sub-circle{
  border-style: solid;
  border-radius: 20px;
  height:40px;
  width:40px;
  margin:10px;
  margin-right: 50px;
  border-color: #d3d3d3;
  border-width: 4px;
}
.free-zone-number{
  width: 100%;
}
.number-zone{
  width: 100%;
}
.reserve-number-box{
  width: 100%;

}
.number-inputer{
  font-size: 20px;
  font-weight: 600;
}

.btn-plus{
  background-color:#f9f9f9;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:42px;
	border:4px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:16px;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
  margin-left: 20px;
}
.btn-plus:hover{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:42px;
	border:4px solid #00accb;
	display:inline-block;
	cursor:pointer;
	color:#00accb;
	font-size:16px;
	font-weight:bold;
	padding:2px 10px;
	text-decoration:none;
  margin-left: 20px;
}
.btn-sub{
  background-color:#f9f9f9;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:42px;
  border:4px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-size:16px;
  font-weight:bold;
  padding:2px 12px;
  text-decoration:none;
  margin-right: 20px;
}
.btn-sub:hover{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:42px;
	border:4px solid #00accb;
	display:inline-block;
	cursor:pointer;
	color:#00accb;
	font-size:16px;
	font-weight:bold;
	padding:2px 12px;
	text-decoration:none;
  margin-right: 20px;
}
.imput-number{
  font-size: 20px;
  font-weight: 600;
  font-family: IRANSans;
}
.full-width{
  width: 100%;
}
.padding-search-results{
  margin-top: 130px;
}
.padding-search-results-top{
  margin-top: 25px;
}
.search-result-image{
}
.pre-img-result{
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.result-title{
  margin-top: 4px;
  margin-bottom: 4px;
  font-family:IRANSans;
  font-weight: 600;
  font-size: 16px;
  margin-right: 8px;
}
.result-price{
  margin-top: 8px;
  margin-left: 4px;
  height: 26px;
  font-family:IRANSans;
  font-weight: 500;
  font-size: 13px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
}
.toman-per-night-result{
  margin-right: 0px;
  margin-left: 8px;
  color:#656565;
}
.result-card-margins{
  margin-bottom: 25px;
}
.more-photo{
  margin-top: -100px;
}
.imgcontainer{
  background-color: grey;
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.imgresult{
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
    height: auto;
  margin: auto;
  text-align: center;
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
}
.mobile-margined-search {
  width: 94%;
  margin: auto;
}

.dl-app{
  font-size: 20px;
  font-family: IRANSans;
}
.img-iphone{

}
.logo-grey{
  height: 90px;
  margin-left:8px;
}
.slogan-xss{
  font-family:IRANSans;
  font-size: 18px;
  color: #616161;
  text-align: center;
padding-bottom: 28px;
}

.slogan-xs{
  font-family: IRANSans;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  color: #616161;
  text-align: right;
}

.seach-top-slogan-xs-container{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 14px;
  justify-content: center;
  align-items: center;
}
.downlaod-app-mobile{
  background-color: #f2f4f4;
  height: 190px;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}
.iphone{
  display: relative;
  padding-bottom: 50px;
  margin-top: -30px;
  height: 300px;
  transform: rotate(-5deg);
}
.bazar-ico{
  margin-top: 6px;
  width: 80%;
  margin-left: 20px;
}

.img-download{
  margin-top: 30px;
  align-self: right;
}
.searchbarmain{
  background-color: #f9f9f9;
}


.download-tripinn {
	background-color:#f56c4e;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	border-radius:23px;
	border:3px solid #f5fff6;
  padding: 5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 53px;
	text-decoration:none;
}
.download-tripinn:hover {
	background-color:#e4441e;
}
.download-tripinn:active {
	position:relative;
	top:1px;
}
.downloadborder{
  border-radius:23px;
  padding:-2px -2px;
}
.dl-div{
  margin: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.rooms_type_result{
  margin-left: 4px;
  margin-bottom: 0px;
  margin-bottom: 3px;
}
.room_address_results{
  font-size: 11px;
  margin-top: 8px;
  margin-right: 8px;
  font-weight: 500;
}
.result-room-type{
  font-size: 10px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  margin-top: 4px;
  margin-right: 8px;
}
.title-a{
  margin-top: 0;
  color: #484848;
}
.title-a:hover{
  color:#484848;
}
.toman-result{
  margin-right: 3px;
}
.result-without-price{
  height:85px;
}
.result-detail{
  background-color: white;
  border-radius: 4px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
}
.price-div-results{
  height: 30px;
}
.profile-container-margined{
  width: 80%;
  margin:auto;
  margin-top: 30px;

}
.profile-container{
  background-color: rgba(255, 255, 255, 1)   ;
    padding:16px;
    border-width: 3px;
    padding-bottom: 60px;


}
.profile-avataricon{
  height: 200px;
  margin: auto;
}
.profile-avatarimg{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}
.userprofilebox{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
.username_offical{
  font-size: 20px;
  font-family: IRANSans;
  color: #484848;
  text-align: center;
  font-weight: 500;

  width: 100%;
  margin: auto;
margin-top: 5px;
}
.profile-lastname{
  margin-right: 4px;
}
.card_anchor:link {
    color: #484848;
}

/* visited link */
.card_anchor:visited {
    color: #484848;
}

/* mouse over link */
.card_anchor:hover {
    color: #484848;
}

/* selected link */
.card_anchor:active {
    color: #484848;
}
.prof_menu_item_rtl{
  text-align: right;
  padding-bottom: 10px;
}
.profile_static_bar{
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  border-radius: 0px 4px 4px 0px;

}
.profile_dynamic_edit{
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  height: 600px;
}
.host-photo{
width: 100%;
margin: auto;
text-align:center;
}
.profilebox{
  text-align:center;
}
.profile-avatarimg{
  float: none;
  margin: 0 auto;
}
.profile_after_username{
  font-family: IRANSans;
  padding: 0px;
  padding-top: 15px;
}
.divider-profile{
  height: .8px;
  background-color:#b4b4b4;
  margin-top: 15px;
  margin-bottom: 15px;
}
.profile_photobox{
}
