.pre-bill-main-division{
  font-family: IRANSans !important;
}
.pre-bill-header-section{
  text-align: center;
  font-size:26px;
}
.pre-bill-house-details{
  direction:rtl;
}

.searchbar-typeahead-menu-item{
  border:soid #f2f5f6 !important;
}
.searchbar-typeahead-menu-item:hover{
  background-color:#f2f5f6 !important;
}

.footer-links{
  margin-top: -13px;
}
.contact-us-main-division{
  font-family: IRANSans;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  height:550px;
  width:76%;
  border:solid;
  border-width: 2px;
  border-color: #e4e4e4;
  border-radius : 6px;
  background-color: white;
  padding: 15px;
}
.contact-us-main-division-content{
  margin:auto;
  margin-top:30px;
  width:94%;
  text-align:right;
}
.contact-us-header-section{
  font-size:36px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}
.contact-texts{
  margin-right: 30px;
  margin-left: 70px;
  margin-top: 50px;
  font-size: 16px;
  color:#454545;
  font-weight: 300;
}
.contact-us-firm-name-section{
  margin-top: 20px;
}
.contact-us-social-media-sentence{
  direction: rtl;
  text-align: center;
}
.contact-us-address-section{
}
.contact-us-email{
  padding-bottom: 30px;
}
.contact-us-social-link{
  margin-top: 20px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  background-color:#f8f8f8;
  margin-left: 2px;
  margin-right: 2px;
}
.contact-us-social-link:hover{

  border: solid;
  border-width: 2px;
  border-color: #f8f8f8;
  margin-left: 2px;
  margin-right: 2px;
}
.social-icon-contactus{
  margin-top: 9px;
}
.contact-us-map-section{
  margin-top: 15px;
}
.contact-us-social-media-section{
margin: auto;
}
.contact-us-social-media-links{

}
.suggestions-comments-section{
  font-family: IRANSans;
  text-align: center;
}
.suggestions-comments-header{
  font-size: 35px;
  font-family: IRANSans;
  font-weight: 500;
}
.suggestions-comments-paragraph{
  direction:rtl;
  margin-right: 20px;
}
.sign-up-modal-link-to-rules{
  color : #12b2ce;
  cursor : pointer;
}

.sign-up-modal-aggreement-sentence{
  margin-right:5px;
  margin-top:8px;
}

.sign-up-modal-rule-aggreement{
  text-align: right;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
}


.host-container{
  margin:auto;
}

.inner-div{
margin: 30px
}


.become-host-labels{

  font-family: IRANSans;
  margin: 20px;
  text-align: right;
  width: 80%;

}

.about-us-header{
  text-align: center;
  font-size:34px;
  font-weight:500;
  padding-bottom: 30px;
  padding-top: 30px;
  font-family: IRANSans;

}


.contactus-header{
  text-align: right;
  font-size:30px;
  padding-bottom: 10px;
  font-family: IRANSans;

}



.h1{
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}
.title2{

  text-align: right;
  margin: auto;
  padding-bottom: 30px;
  font-size: 20px;
}

.terms-div1{
  margin: auto;
  padding-bottom: 20px;
}
.contact-us-contact-info{
  line-height: 32px;

}
.orng-anchors{
  color:#f56c4e;
}
.orng-anchors:hover{
  color:#d4482a;
}
.orng-anchors:visited {
  color:#d4482a;
}
.about-us-container{
  font-family: IRANSans;
  font-size: 15px;
  height: 1040px;
  width: 70%;
  margin: auto;
  margin-top:50px;
  margin-bottom: 30px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: right;
  border: 2px solid #e4e4e4;
  border-radius: 7px;

}
.about-us-content{
  padding-right:80px;
  padding-left: 80px;
}
.about-us-tripinn{
  color:#12b2ce;
}

.about-us-logo{
  text-align: center;
  margin-bottom:-20px;
  margin-top: 40px;
}

.about-us-main-paragraph{
  margin-bottom:45px;
  font-size: 16px;
  font-weight: 300;
  color:#454545;
  margin-left: 50px;
  margin-right: 50px;
}

.about-us-app-paragraph{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  margin-left:70px;
  margin-right:70px;
  margin-top:100px;
  margin-bottom:0px;

}

.about-us-app-paragraph-text{
    margin-right: 10px;
    margin-left: 50px;
    padding-top:80px;
    font-size: 18px;
    line-height: 30px;
    color:#454545;
}

.about-us-tripinn-objective{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  margin-left:70px;
  margin-right:70px;
  margin-top:-80px;
  margin-bottom:70px;

}

.about-us-tripinn-objective-text{
  margin-right: 10px;
  margin-left: 5px;
  padding-top:170px;
  line-height: 30px;
  font-size: 18px;
  color:#454545;

}

.contactus-container{
  font-family: IRANSans;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  text-align: right;

}


.terms-container{
  font-family: IRANSans;
  width: 80%;
  margin: auto;
  padding-top: 30px;
}
.scroll-list-trips{

}
.scroll-list-requests{
width:100%;
border:0px !important;
padding: 0px !important;
border-radius: 0px !important;
margin: 0px !important;
}
.scroll-list-requests:hover{
  transition-delay: .04s;
width:100%;
background-color: #f8f8f8;
border:0px !important;
padding: 0px !important;
border-radius: 0px !important;
margin: 0px !important;
}
.scroll-list-requests-xs{
  background-color: white;
  height: 55px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.07);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.07);
}
.arrow-ico{
  height:10px;

margin-top: 24px;
margin-left: 14px;
}
.rules{
  margin:0 0 15px 0;
}
.preview-x{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: right;
}
.preview-x2{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row-reverse{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
}
.dashboard-backgroud{
  background-color: #f8f8f8;
}

.main{

}
.housedetail{
}
.housedetail-img{
  cursor: pointer;
}
.login-signup-button-header{
  margin-right: 10px;
}

.login-title-in-modal{
  font-family: IRANSans;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color:#484848;

}
.show-gallery-button-house-details{
  position:absolute;
  font-family:IRANSans !important;
  bottom:5px;
  left:5px;
  background-color:'twitter' !important;
}
.login1-modal{
  padding: 18px;
  padding-top: 25px !important;
}
.enter-phone-number-inmodal{
  font-family: IRANSans;
  font-size: 14x;
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.enter-phone-number-inmodal2{
  font-family: IRANSans;
  font-size: 14x;
  font-weight: 500;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
.login-input{
  text-align: center !important;
  font-family: IRANSans !important;
  width: 60%;
  box-shadow: none;
  font-size: 18px;
  height: 48px;
  border:0px;
}
.login-input-code{
  text-align: center !important;
  font-family: IRANSans !important;
  width: 20%;
  box-shadow: none;
  font-size: 16px;
  height: 38px;
  border:0px;
}
.divider-x{
  height:1px;
  background-color: #000;
  margin: auto;
  width: 60%;
  padding-top:-5px;
}
.divider-x2{
  height:1px;
  background-color: #000;
  margin: auto;
  width: 30%;
  padding-top:-5px;
}

.login-modal-button{
  width: 90%;
  font-family: IRANSans !important;
  margin: auto;

}

.login-modal-button-2{
  width: 90%;
  font-family: IRANSans !important;
  padding-top: 40px;
}

.login-modal-button-3{
  width: 100%;
  font-family: IRANSans !important;
  margin-top: 10px !important;
  padding: 14px !important;
}

.enter-number-main{
    margin: auto;
  text-align: center;
}

.main-menu-user2{
  cursor :pointer;
  text-align : center;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
}
.main-menu-header{
  padding-top: 22px;
  font-family: IRANSans;
  font-size: 16px;
  color: #454545;
}
.LogoImage{
  height:44px;
  margin-top: 8px;
  margin-left: 10px;
}
.LogoImage-mobile{
  height:40px;
  display: block;
    margin-left: auto;
    margin-right: auto
  }
.header{
  width:100% !important;
  background-color: white;
  border-bottom: solid;
  border-color: #ebebeb;
  border-width:2px;
  height:60px;
  }
  .hearder-child-margined{
    width:92%;
    margin: auto;

  }
  .profile-container{
  }
  .profile-container-sts{
    background-color: white;
    padding-bottom: 150px;
    border-radius: 6px 6px 6px 6px;
    border: solid;
    border-width: 2px;
    border-color: #ececec;
  }
  .list-group{
    margin:0 !important;
    padding: 0 !important;
  }
  .price{
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    margin: auto;
    flex-direction: row;
  }
  .price-xs {
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row; /* Safari 6.1+ */
    display: flex;
    margin: auto;
    flex-direction: row;
    padding-top: 8px;
  }
  .price-sm {
    display: -webkit-flex; /* Safari */
    -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
    display: flex;
    margin: auto;
    flex-direction: row-reverse;
    padding-top: 8px;
    width:100%;
  }
.headerchild{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  height:80px;
  width:94%;
  vertical-align:middle;
  }
  .logomobile{
    margin: auto;
  }
  .headermobile{
    height:47px;
    margin: auto;
    width:90%;
    margin-top:.6em;
    }
.logoname-mobile{
    margin: auto;
  }
.logodiv{
  vertical-align: middle;
}
.logodiv-mobile{
  margin-top: .4em;
}
.logofont{
  font-family: IRANSans;
  font-size: 28px;
  font-style: normal;
	font-weight: 500;
  padding-top: 9px;
  color: #12b2ce;
}
.logofont-mobile{
  font-family: IRANSans;
  font-size: 1.6em;
  font-style: normal;
  font-weight: 600;
  margin-top:.17em;
  padding-top: 3px;
  color: #12b2ce;
  margin-right: .3em;
}
.logodiv0{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}

.logolink:hover {
   text-decoration:none;
}
.footer{
  width:100%;
  background-color: #f8f8f8;
}
.footerchild{
  width:91%;
  margin: auto;
  padding-top: 6px;
  padding-bottom: 6px;
}
.footer-mobile-container{
  width:90%;
  margin: auto;
  padding-top: 10px;
  background-color: #f2f2f2;
}
.footer-menu-mobile-item{
  height:2.6rem;
  border-bottom-style: solid;
  border-color: grey;
 border-width: 0.05em;
  }
.footer-menu-mobile-link:hover {
  text-decoration:none;
}
.footer-menu{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.footer-menu-social{
  padding-top: 6px;
}
.download-app-footer-anchor{
  margin-left: 10px;
}

.logo-menu-font{
  font-family: IRANSans;
  font-size: 16px;
  font-style: normal;
	font-weight: 400;
  margin-right: 1em;
  padding-top: 22px;
  color: #454545;
}
.logo-menu-font:hover{
  font-family: IRANSans;
  font-size: 16px;
  font-style: normal;
	font-weight: 400;
  margin-right: 1em;
  padding-top: 22px;
  color: #f56c4e;
}
.logo-menu-font1{
  font-family: IRANSans;
  font-size: 16px;
  font-style: normal;
	font-weight: 500;
  margin-right: 1em;
  padding-top: 24px;
  color: #f56c4e;
}
.logo-menu-font1:hover{
  font-family: IRANSans;
  font-size: 16px;
  font-style: normal;
	font-weight: 500;
  margin-right: 1em;
  padding-top: 24px;
  color: #dd3611;
}
.logo-menu-dl{
  font-family: IRANSans;
  font-size: 16px;
  font-style: normal;
	font-weight: 500;
  margin-right: 1em;
  color: #f56c4e;
  padding-top: 22px;

}
.logo-menu-hst{
  font-family: IRANSans;
  font-size: 16px;
  font-style: normal;
  padding-top: 22px;
	font-weight: 500;
  margin-right: 1em;
  color: #17b3ce;
}

.logo-footer-menu-font-mobile{
  font-family: IRANSans;
  font-size: 1em;
  font-style: normal;
  font-weight: 300;
  padding-top:8px;
  color: #646464;
  text-align: right;
}

.social-image-xl{
  height:1.6em;
  margin-right: 1em;
  margin-bottom: 5px;

}

.social-image{
  height:1.6em;
  margin-right: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}
.social-image .redO{
  	position:relative;
    height:1.6em;
    opacity:0;
}
.social-image:hover{
  opacity:0.7;
}
.freezone{
  width:100%;
}
:root {
    --space: 1.5em 0;
    --space: 2em 0;
}
.main{
  height:100%;
}
.footer-menu-and-dl{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
}
.download-app-text{
  font-family: IRANSans;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  margin: auto;
}
.downloadbotton{
  margin: auto;
}
.social-image{
}
.footer-menu-mobile-social{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.free-zone{
  height:10em;
}
.search-btn{
  display:flex;
  -webkit-box-pack:center;
  align-items: center;
  background-color: #3fd4ee;
  width: 10%;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.ui.blue.buttons .button, .ui.blue.button {
    background-color:#3fd4ee ;
}
.ui.blue.buttons:hover .button:hover, .ui.blue.button:hover {
    background-color:#04b2d0;
}
.ui.blue.buttons:active  .button:active, .ui.blue.button:active {
    background-color:#04b2d0 ;
}
.ui.blue.buttons:focus  .button:focus, .ui.blue.button:focus {
    background-color:#3fd4ee ;
}


i.big.icon,
i.big.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: 1.8em !important;
}

.search-btn-xs{
  background-color: #3fd4ee;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  width: 20% !important;
  height: 45px !important;
  padding: 0px !important;
  margin-right: 0px;

}
.search-image{
  height: 2rem;
}
.search-image-xs{
  height: 1.6rem;
}
.search-image-result{
  height: 1.2rem;
}

.searchbar-zone{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  margin-top: 3rem;
  height: 4rem;
  background-color: white;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.15);
}
.search{
  font-family: IRANSans !important;
  text-align: right !important;
}
.searchbar-zone-mobile{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  height: 45px;
  background-color: white;
  box-shadow: 0 .2rem 1rem rgba(0,0,0,.15);
  margin-bottom: 85px;
  border-radius: 4px;
}
.suitcase-image{
  height: 8.6rem;
  margin-right: 2rem;
}
.seach-top-slogan-container{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-right: 10px;

}
.slogenholder{
  margin: 0 auto;
      width: 100%;
}
.slogan-1{
  font-family: IRANSans;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  color: #454545;
  text-align: right;
  margin-right: 1.5rem;
}
.slogan-2{
  font-family: IRANSans;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  margin-top: 0;
  color: #454545;
  text-align: right;
  margin-right: 1.5rem;
  margin-top: -28px;
}
.slogan-container{
  margin-top: .8rem;
}
.xxx{

}
.typehead{
  height:100%;
  width:100%;
  font-family:IRANSans;
  font-style: normal;
  font-weight: 450;
  color: #454545;
  text-align: right;
}
.rbt-input-main{
  font-family:IRANSans;
  font-style: normal;
  font-weight: 450;
  color: #454545;
  text-align: right;
  margin-right: 12px;
  z-index: 0 !important;
}
.typehead-mobile{
  height:100%;
  width:100%;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 450;
  color: #454545;
}
.input-lg {
  height: 100% !important;
  padding: 8px 0px !important;
  padding-right: 100px;
  font-size: 18px !important;
  line-height: 2 !important;
  border-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-width: 0px !important;

}
.rbt-input-hint{
text-indent: -9999px
}

.input-sm {

}
.main-zone{
margin-top: 150px;
justify-content: center;

}
.main-zone-xs{
  margin: auto;
  margin-top: 50px;
  justify-content:center;
  text-align: center;
  align-items: center;
}
.render-houses-row{
  margin-top: 70px;
  width: 100%;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.dropdown-menu{
  text-align: right !important
}
.dropdown{
padding-right: 12px;

}
.downloadbotton-bordered{
width:34%;
height:40px;
background-color: #f26c4f;
border-radius: 40px;
}
.mamadnaboodi{
  margin-top: 1000px;
}
.row-reverse-house-adress-type{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  font-family: IRANSans;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  margin-top: 0;
  color: #454545;
  text-align: left;
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}
.house-detail-titles{
  font-family: IRANSans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  color: #454545;
  padding-right: 15px;
  padding-left: 15px;
}


.housedetail-main1{
  background-color: red;
}
.navigation-menu-housedetails{
  height: 30px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  font-family: IRANSans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  color: #737373;
  text-align: left;
  border-radius: 5px;
  border-color: red;
  margin-right: 15px;
}
.navigation-menu-items{
  margin-left: 15px;
  cursor : pointer;
  color : #0084b4;
}
.house-detail-top{
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);

}
.house-detail-top-margined{
  margin:auto;
  width: 1170px;
  margin-top: 15px;
}
.house-detail-top-margined-md{
  margin:auto;
  width: 970px;
  margin-top: 15px;
}
.house-detail-top-margined-sm{
  margin:auto;
  width: 780px;
  margin-top: 15px;
}
.main-details{
  background-color: grey;
}
.container-fluid{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.house-details-preview{
  height: 500px;
   width: 100%;
   position:relative;
   object-fit: cover;
}
.reserve-card{
  background-color: #fff;
  margin-top: 20px;
  padding: 5px;
  border-style: solid;
  border-color: #d5d5d5;
border-width: 2px;
  border-radius: 6px;
}
.reserve-card-child{
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.text-011{
  font-family: IRANSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #454545;
  text-align: right;
  margin-bottom:4px;
}
.host-texts{
  margin-top: 12px;
  margin-right: 5px;
}
.text-013{
  font-family: IRANSans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #454545;
  text-align: right;
}
.text-012{
  font-family: IRANSans;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  color: #292929;
  text-align: left;
  margin-right: 6px;
}

.reserve-request{

}
.reserve-button{
  width: 100% !important;
  font-family: IRANSans !important;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}
.main-amanities{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 10px;

}
.main-amanities-item{
  height: 30px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  font-family: IRANSans;
  font-size: 18rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 0;
  color: #737373;
  text-align: left;
}
.main-amanities-item-xs{
  height: 30px;
  font-family: IRANSans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  color: #737373;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.spaced-dises{
  width: 100%;
  margin: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.main-amanities-icon{
  height: 30px;
  margin: 10px;
}
.main-amanities-icon-xs{
  margin: auto;
  height: 26px;
  margin: 8px;
}
.col-details-house{
  margin-bottom: 180px;
}
.house-google-map{
  height: 100px;
}
.house-detail-map{
  height: 400px !important;
  width: 100%;
}
.main-descriptions{
  margin-top: 14px;
  text-align: right;
  font-family: IRANSans;
}
.main-descriptions-cap{
  text-align: right;
  font-family: IRANSans;
}

.main-descriptions-xs{
  text-align: right;
  font-family: IRANSans;
}
.des-header{
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  color: #454545;
}
.padding-hd{
  margin-top: 100px;
}
.des-header-xs{
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  color: #454545;
  font-family: IRANSans;
  text-align: right;
  margin-bottom: 4px !important;
}
.des-header-xl{
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #454545;
  font-family: IRANSans;
  text-align: right;
  margin-bottom: 0px !important;
  margin-top: 20px;
}
.des-main{
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  color: #737373;
}
.des-main-xs{
  margin:10px 10px 30px 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #454545;
  font-family: IRANSans;
  text-align: right;
}
.host-info{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.avatar-icon{
  height: 75px;
}

.host-img{
height: 75px;
border-radius: 50px;
}

.rating-div{
  margin-bottom:15px;
  -moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}
.aminities-text{
  margin-top: 14px;
  font-size: 18px;
  font-weight: 500;
  margin-left: 5px;
  color:#454545;
}
.aminities-text-xs{
  font-size: 14px;
  font-weight: 400;
  padding-left: 3px;
}
.result-detail{
  font-family: IRANSans;
  text-align: right;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 22px;
  left: 16px;
  top: 22px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  height: 12% !important;
  background-color: #0090aa;


}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 100px;
  width: 22px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #12b2ce;
  -ms-transform: scale(2, 2); /* IE 9 */
-webkit-transform: scale(2, 2); /* Safari */
transform: scale(2, 2);
}

/* General sidebar styles */
.bm-menu {
  background: rgba(255, 255, 255, 1);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #5d5d5d;
  padding: 0.2em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(255, 255, 255, 0.2);
}
.header-menu-desktop{
  font-family: IRANSans;
  width:100%;
  margin: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
}

.profile-card-user-name{
  cursor :pointer;
  text-align : right;
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 23px;
  color : #12b2ce;
}
.profile-card-user-profile{
  cursor :pointer;
  text-align : right;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top : -14px;
  margin-left : 30px;
}
.profile-card-divider{
  width : 80%;
  border-color: #d2d2d2;

}

.profile-card-user-avatar{
  border-radius: 50%;
  object-fit: cover;
  padding-right: 10px;
  margin-top : 13px;
}
.profile-card-user-trips{
  cursor:pointer;
  text-align: right;
  margin-right: 17px;
  margin-top : -8px;
}
.profile-card-user-trips:hover{
 color : #12b2ce;
}


.profile-card-user-requests{
  text-align: right;
  cursor:pointer;
  margin-right: 17px;
  margin-top : -8px;
}
.profile-card-user-requests:hover{
  color : #12b2ce;
}
.profile-card-exit-button{
  text-align: right;
  margin-right: 17px;
  padding-buttom: 1000px!important;
  cursor:pointer;
}
.profile-card-exit-button:hover{
  color : #12b2ce;
}
.profile-card-exit-button-helper-empty-division{
  margin-top : 10px;
}
.xl-menu-item{

}
.xl-menu-item:hover{
color: #42b0c6;
}
.render-results{
  margin-top: 0px;
}
.results-search{
  height: 60px;
  border-bottom: solid;
  border-color: #ececec;
}
.typehead-results{
  font-family:IRANSans;
  font-style: normal;
  font-size: 10px !important;
  font-weight: 400;
  color: #454545;
  text-align: right;
}
.results-serach-child{
  width: 88% !important;
  font-family: IRANSans;
  margin: auto;
}
.search-inputs{
  margin: auto;
  margin-top:-20px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  height: 44px;
}

.multi-input-1{
  height: 44px;
  width: 120px;
  margin-top: 14px;
  margin-left: 6px;
 text-align: right !important;
 font-family: IRANSans !important;
}
.multi-input-typeahead{
  height: 44px;
  width: 180px;
  margin-top: 14px;
  margin-left: 6px;
 text-align: right !important;
 font-family: IRANSans !important;
}
.multi-input-2{
  height: 44px !important;
  margin-top: 14px;
  margin-right: 0px;
}
.reserve-button-div{
  margin-top: 20px;
}
.divider{
  height: 1px;
  margin-top:10px;
  margin-bottom: 10px;
  background-color: #d2d2d2;
}
.facilities-item{
  margin: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  height: 33px;
}
.facility-text{
  margin-right: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #454545;
}
.checkin-text{
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
  color: #454545;
}
.other-amanities-icon{
  height:26px;
  align-items: center;
  justify-content: center;
}
.other-rules-icon{
  height:20px;
  align-items: center;
  justify-content: center;
}


@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('./fonts/eot/IRANSansWeb_Black.eot');
	src: url('./fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/eot/IRANSansWeb_Bold.eot');
	src: url('./fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/eot/IRANSansWeb_Medium.eot');
	src: url('./fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/eot/IRANSansWeb_Light.eot');
	src: url('./fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('./fonts/eot/IRANSansWeb_UltraLight.eot');
	src: url('./fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/eot/IRANSansWeb.eot');
	src: url('./fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb.ttf') format('truetype');
}
.divider-card{
  height: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: #d2d2d2;
}
.reserve-number-box{
  text-align:center;
  margin: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width:180px;
}
/* .add-circle{
border-style: solid;
border-radius: 20px;
height:40px;
width:40px;
margin:10px;
margin-left: 50px;
border-color: #d3d3d3;
border-width: 4px;
align-items: center;
justify-content: center;
} */
.sub-circle{
  border-style: solid;
  border-radius: 20px;
  height:40px;
  width:40px;
  margin:10px;
  margin-right: 50px;
  border-color: #d3d3d3;
  border-width: 4px;
}
.free-zone-number{
  width: 100%;
}
.number-zone{
  text-align: center;
  width: 100%;
}

.number-inputer{
  /* text-align: center; */
  font-size: 35px;
  font-weight: 500;
  margin-top:100px;
  color: white;
}

.btn-plus{
  background-color:#83daeb;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#83daeb;
  border:none;
  font-size:16px;
  font-weight:bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-decoration:none;


}
.btn-plus:hover{
  background-color:#00accb;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#00accb;
  border:none;
  font-size:16px;
  font-weight:bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-decoration:none;

}
.btn-sub{
  background-color:#83daeb;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#83daeb;
  border:none;
  font-size:16px;
  font-weight:bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-decoration:none;
  margin-right: 20px;
}
.btn-sub:hover{
  background-color:#00accb;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#00accb;
  border:none;
  font-size:16px;
  font-weight:bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-decoration:none;
}
.imput-number{
  font-size: 20px;
  font-weight: 600;
  font-family: IRANSans;
}
.full-width{
  width: 100%;
}
.padding-search-results{
  margin-top: 130px;
}
.padding-search-results-top{
  margin-top: 25px;
}
.search-result-image{
}
.pre-img-result{
  padding-left: 7px !important;
  padding-right: 7px !important;
  float: right !important;
}
.result-title{
  margin-top: 4px;
  margin-bottom: 4px;
  font-family:IRANSans;
  font-weight: 600;
  font-size: 16px;
  margin-right: 8px;
}
.result-price{
  margin-top: 8px;
  margin-left: 4px;
  height: 26px;
  font-family:IRANSans;
  font-weight: 500;
  font-size: 13px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
}
.toman-per-night-result{
  margin-right: 0px;
  margin-left: 8px;
  color:#656565;
}
.result-card-margins{
  margin-bottom: 25px;
}
.more-photo{
  margin-top: -100px;
}
.imgcontainer{
  background-color: grey;
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.imgresult{
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  width: auto;
    height: auto;
  margin: auto;
  text-align: center;
  object-fit: cover;
  border-radius: 4px 4px 0px 0px;
}
.mobile-margined-search {
  width: 94%;
  margin: auto;
}

.dl-app{
  font-size: 20px;
  font-family: IRANSans;
}
.img-iphone{

}
.logo-grey{
  height: 90px;
  margin-left:8px;
}
.slogan-xss{
  font-family:IRANSans;
  font-size: 18px;
  color: #616161;
  text-align: center;
padding-bottom: 28px;
}

.slogan-xs{
  font-family: IRANSans;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  color: #616161;
  text-align: right;
}

.seach-top-slogan-xs-container{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 14px;
  justify-content: center;
  align-items: center;
}
.downlaod-app-mobile{
  background-color: #f2f4f4;
  height: 190px;
  margin-top: 60px;
  justify-content: center;
  align-items: center;
}
.iphone{
  display: relative;
  padding-bottom: 50px;
  margin-top: -30px;
  height: 300px;
  transform: rotate(-5deg);
}
.bazar-ico{
  margin-top: 6px;
  width: 80%;
  margin-left: 20px;
}

.img-download{
  margin-top: 30px;
  align-self: right;
}
.searchbarmain{

}


.download-tripinn {
	background-color:#f56c4e;
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	border-radius:23px;
	border:3px solid #f5fff6;
  padding: 5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:IRANSans;
	font-size:14px;
  font-weight: 500;
	padding:8px 60px;
	text-decoration:none;
}
.download-tripinn:hover {
	background-color:#e4441e;
}
.download-tripinn:active {
	position:relative;
	top:1px;
}
.downloadborder{
  border-radius:23px;
  padding:-2px -2px;
}
.dl-div{
  margin: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.rooms_type_result{
  margin-left: 4px;
  margin-bottom: 0px;
  margin-bottom: 3px;
}
.room_address_results{
  font-size: 11px;
  margin-top: 8px;
  margin-right: 8px;
  font-weight: 500;
}
.result-room-type{
  font-size: 10px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  margin-top: 4px;
  margin-right: 8px;
}
.title-a{
  margin-top: 0;
  color: #484848;
}
.title-a:hover{
  color:#484848;
}
.toman-result{
  margin-right: 3px;
}
.result-without-price{
  height:85px;
}
.result-detail{
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
}

.result-detail:hover{
  background-color: white;
  border-radius: 4px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .5);
}

.price-div-results{
  height: 30px;
}
.profile-container-margined{
  width: 80%;
  margin:auto;
  margin-top: 30px;



}
.profile-container{
    padding:16px;
    border-width: 3px;
    padding-bottom: 60px;
    height:500px;

}
.profile-avataricon{
  height: 200px;
  margin: auto;
}
.profile-avatarimg{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}
.userprofilebox{
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}
.username_offical{
  font-size: 20px;
  font-family: IRANSans;
  color: #484848;
  text-align: center;
  font-weight: 500;

  width: 100%;
  margin: auto;
margin-top: 20px;
}
.profile-lastname{
  margin-right: 4px;
}
.card_anchor:link {
    color: #484848;
}

/* visited link */
.card_anchor:visited {
    color: #484848;
}

/* mouse over link */
.card_anchor:hover {
    color: #484848;
}

/* selected link */
.card_anchor:active {
    color: #484848;
}

.prof_menu_item_rtl{
  text-align: right;
  padding-bottom: 10px;
}
.profile_static_bar{

}
.list-of-request-div{
  overflow-y: auto;
  border-radius: 6px 6px 6px 6px;
  border: solid;
  border-width: 2px;
  border-color: #ececec;
  margin: 0px !important;
  padding: 0px !important;
  height: 100%;
  max-height: 570px;
}
.list-of-request-div-xs{
  width: 95%;
  margin: auto;
  padding-bottom: 20px;

}
.request-list-item-city{
  font-size: 11px;
  font-family: IRANSans;
  font-weight: 300;
  color: #454545;
  margin-right: 6px;
}
.request-list-xs{
  width: 100%;
  margin: auto;
  background-color: #f0f4f5;
  padding-top: 60px;
}
.request-xs-header-title-div{
  height:52px;
  background-color: white;
  width: 100%;
  margin-bottom: 8px;
  font-size: 22px;
  font-family: IRANSans;
  text-align: center;
  color:#484848;
  font-weight: 300;
}
.requests-list-title{
  padding-top: 14px;
}
.profile_dynamic_edit{
  border-radius: 6px 6px 6px 6px;
  border: solid;
  border-width: 2px;
  border-color: #ececec;
  background-color: white;
  height: 660px;
  margin-bottom:100px;
}
.host-photo{
width: 100%;
margin: auto;
text-align:center;
}
.profilebox{
  text-align:center;
}
.profile-avatarimg{
  float: none;
  margin: 0 auto;
}
.profile_after_username{
  font-family: IRANSans;
  padding: 0px;
  padding-top: 15px;
}
.divider-profile{
  height: .8px;
  background-color:#b4b4b4;
  margin-top: 15px;
  margin-bottom: 15px;
}
.profile_photobox{
}
.footer-menu-and-dl{
  font-family: IRANSans;
}
.clickable-p{
  cursor : pointer;
}
.search-input-semantic{
  width: 300px;
}
.typeahead-onlycity-xl{
  width: 100%;
  text-align: right;
  z-index: 0;

}

.dashboard-header{
  text-align: right;
  font-size: 20px;
  font-family: IRANSans;
}
.edit-profile-xl{
  padding: 20px;

}
.edit-profile-xl-inputs{
  padding: 20px;

}
.edit-prof-row1{
  margin-bottom: 40px;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
}
.input-sm{
  font-family: IRANSans !important;
  border-radius: 0px 0px 0px 0px!important;
  background-color: white !important;
  border-width: 0px !important;
  box-shadow: 0 0 0 rgb(0, 0, 0);
  text-align: right;
  padding-top:14px !important;
  height: 30px !important;
  padding: 15px 8px 10px 2px !important;
  line-height: 1 !important;
  border-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-width: 0px !important;
  font-size: 14px !important;
}
.save-edit{
    font-family: IRANSans !important;
}
.save-edit-xs{
  font-family: IRANSans !important;
  text-align:center;
  margin: auto !important;
}
.ui.blue.button{
  background-color: #42b0c6 !important;
  margin-right: 0px !important;
}
.ui.blue.button:hover{
  background-color: #1796b4 !important;
  margin-right: 0px !important;

}
.profile-labels{
  font-size: 10px;
  font-family: IRANSans;
  margin-top:-5px;
  color:#4e4e4e;
}
.search-btn-result{

  height: 34px;
  width: 60px;
  background-color: white;
  margin-top: 14px;
  margin-left: 6px;
 text-align: right !important;
 font-family: IRANSans !important;
}
.guestnumber-div{
  margin-bottom: 20px;
}
.date-picker-input{
  margin: auto;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}
.reserve-modal{
  font-family : IRANSans;
  border-radius: 4px;
  padding: 14px;
}
.rbt-highlight-text{
  background-color: #3fd4ee !important;
}
.dropdown-menu-right{
  font-family: IRANSans !important;
}
.typeahead-onlycity-sm{
  width: 80%;
  z-index: 0;
}
.searchicon{
  justify-content:center;
  text-align: center;
  align-items: center;
}
.reserve-bottom-xs{
  height: 55px;
  background-color: rgba(255, 255, 255, .8);
  font-family: IRANSans !important;
  border-top: solid;
  border-color: #f8f8f8;
  border-width: 3;
  padding: 10px;
  margin: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;

}
.reserve-button-xs{
  width: 36%;
  background-color: #12b2ce !important;
  font-family: IRANSans !important;
  color:white !important;
  text-shadow: 0 0 0 !important;
}
.text-017{
  font-family: IRANSans;
  font-size: 12px;
}
.text-018{
  font-family: IRANSans;
  font-size: 17px;
  font-weight: 600;
  margin-left: 3px;
  text-align: left;

}
.price-div-xs{
  width: 80%;
  padding-left: 40px;
  padding-right: 40px;
}
.price-div-sm{
  width: 90%;
  margin: auto;
}

.menu-item{
  color:#5b5b5b;
  cursor:pointer;
}
.input-number-results{
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  font-family: IRANSans !important;

}


.header-drop-down-texts{
  margin-right: 5px;
}
.header-drop-down-texts:hover{
  margin-right: 5px;

}
.drp-down-menu-cont{
  width: 220px;
}
.rules-half{
  padding: 4px !important;

}
.public-rules-div{
  padding: 0 10px 10px 0;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
}
.burger-menu{
  font-family: IRANSans;
}
.serachbar-indetail-xs{
    width:100%;
  margin-top:55px;
  margin-bottom:50px;

}
.search-btn-result-xs{
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 10px !important;
}
.search-image-result-xs{
  height: 14px;
  margin-bottom: 10px;
}
.burger-in-div{
  margin-top: 20px;
}
.burger-item{
  margin-bottom: 10px;
}
.login1-modal{
padding-top: 80px;

}
.typeahead-indetail-xl{
  text-align: right;
}
.form-control1{
  font-family: IRANSans !important;
  font-size: 12px !important;
  display: block;
  text-align: center;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.edit-profle-inp{
  font-family: IRANSans !important;

}
.guestnumber-option{
  font-family: IRANSans !important;
  font-size: 12px !important;
}
.typeahead-indetail-sm {
  margin-bottom: 10px;
  text-align: right;
}
.guestholder-xs{
  text-align: right;
}
.signup-div{
  font-family: IRANSans;
  width: 80%;
  margin: auto;
}
.signup-form-lable{
  font-size: 14px;
  margin-bottom: 5px !important;
  margin-top: 3px;
  text-align: right;
}

.password{
  text-align: left !important;
}
.singup-fa-input{
  text-align: right !important;
  font-family: IRANSans !important;
}
.kolsoom{
  height: 25% !important;
}
.request-list-item-title{
  font-family: IRANSans;
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
  margin-right: 6px;
}
.map-xs{
  height: 45% !important;
  margin-bottom: 400px !important;
}
.padding100{
  padding-bottom: 400px;
}
.padding10{
  padding-bottom: 48px;
}
.userpanel-item-list-not-selected{
  border-bottom: solid;
  border-color: #f9f9f9;
  border-width: 3px;
  width: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction:row; /* Safari 6.1+ */
  display: flex;
  flex-direction:row;
  cursor: pointer;
  background-color: white;
}

.userpanel-item-list-not-selected:hover{
  border-bottom: solid;
  border-color: #f9f9f9;
  border-width: 3px;
  width: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction:row; /* Safari 6.1+ */
  display: flex;
  flex-direction:row;
  cursor: pointer;
  background-color: #f8f8f8;
}
.userpanel-item-list-selected{
  border-bottom: solid;
  border-color: #f9f9f9;
  border-width: 3px;
  width: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction:row; /* Safari 6.1+ */
  display: flex;
  flex-direction:row;
  cursor: pointer;
  background-color: #f2f5f6;
}
.request-list-xs{

}
.userpanel-item-list-xs{
  margin-bottom: 5px;
  width: 100%;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row; /* Safari 6.1+ */
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.list-group{
  border-width: 0px !important;
  border: hidden !important;
}
.reserve-status-h1{
  font-family: IRANSans;
  font-size: 20px;
  color: #454545;
  text-align: center;
  margin-top: 40px;
  font-weight: 500;
}
.paddingtopundermap{
  margin-bottom: 185px;
}
.reserve-status-h2{
  font-family: IRANSans;
  font-size: 18px;
  color: #f56c4e;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}
.check-in{
  margin-right: 15px;
}
.check-out{
  margin-right: 15px;
  margin-top: 8px;

}
.reserve-status-descriptions{
  font-family: IRANSans;
  font-size: 14px;
  color: #f56c4e;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}
.house-preview-linked-to-house-detail{
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: IRANSans;
  font-size: 14px;
  color: #454545;
  text-align: right;
  font-weight: 500;
}
.request-header{
  margin-top: 30px;
}
.request-status{
  margin-bottom: 30px;
}
.final-details{
  text-align: right;
  font-size: 16px;
  font-family: IRANSans;
  font-weight: 600;
  margin-top: 20px;
}
.relevant-button{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  text-align: center !important;
  margin-top: 50px;

}
.request-userpanel-button{
  font-family: IRANSans !important;
}
.request-detail-userpanel{
  width: 82%;
  margin: auto;
}
.house-detail-top-margined-xs{
  width: 90%;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: auto;
}
.house-detail-top{
}
.housedetail-img-xs{
  margin-top: 56px;
  margin-bottom: 20px;
}
.house-detail-titles-xs{
  font-family: IRANSans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: #454545;

  margin-bottom: 0px !important;
}
.row-reverse-house-adress-type-xs{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  font-family: IRANSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  margin-top: 2px;
  color: #454545;
  text-align: left;
  margin-top: 8px;

}
.main-amanities-xs{
  margin: auto;
}
.map-holder-xs{
  margin-bottom: 40px !important;
}
.amanities-div-xs{
    text-align: center;
}
.profile-container-xs{
  margin-top:55px;
}
.edit-profile-xs{
  margin-top: -180px;
  margin-bottom: 30px;

}
.edit-profile-xs-margined{
  width: 84%;
  margin: auto;
}
.edit-prof-xs-item{
  margin-bottom: 20px;
}

.right-align{
  float: right !important;
}

.guest-number{
  text-align: center;
 padding-right: 16px;
}

.btn-sub-searchbar{
  background-color:#83daeb;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#83daeb;
  border:none;
  font-size:16px;
  font-weight:bold;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-decoration:none;
  margin-right: 20px;
}

.btn-sub-searchbar:hover{
  background-color:#00accb;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#00accb;
  border:none;
  font-size:16px;
  font-weight:bold;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-decoration:none;
}

.btn-plus-searchbar{
  background-color:#83daeb;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#83daeb;
  border:none;
  font-size:16px;
  font-weight:bold;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-decoration:none;
}

.btn-plus-searchbar:hover{
  background-color:#00accb;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#00accb;
  border:none;
  font-size:16px;
  font-weight:bold;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-decoration:none;

}

.reserve-number-box-searchbar{
  text-align:center;
  margin: auto;
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* justify-content: space-between; */
  margin-top: 20px;
  width:180px;
}

.geust-number-searchbar-container{
  margin:auto;
}

.number-inputer-searchbar{
  font-size: 15px;
  font-weight: 500;
  margin-top:100px;
  color: white;
}

.input-number-searchbar{
  font-size: 15px;
  font-weight: 600;
  font-family: IRANSans;
}
.house-detail-image-loaded{

}

.loaded-message{
  display:none;
}

.loading-message{
  padding: 100px;
  margin:100px;
  position: absolute;
}


.house-detail-image-not-loaded{
  opacity: 0.2;
}
.guest-number-searchbar{
  text-align: center;
  padding:20px;

}
.geust-number-searchbar-container{
  text-align: center;
  width: 100%;
  margin-left:20px;
}

.become-host-label-text-area{

  padding-right:25px;
  margin-bottom: -10px;
}

.become-host-label-Wrapper-xl{

  margin-right:-30px;

}

.become-host-input-item{
  margin-bottom:-30px;
}
