.SearchResultPreview{
  height: 300px;
   width: 100%;
   object-fit: cover;
}
.LogoImage{
  height:60px;
  margin-top: .7em;
  margin-left: 10px;
}
.header{
  width:100%;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, .1);
  }
.headerchild{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
  height:80px;
  width:94%;
  background-color: white;
  vertical-align:middle;
  }
.logodiv{
  vertical-align: middle;
}
.logofont{
  font-family: IRANSans;
  font-size: 2.8em;
  font-style: normal;
	font-weight: 500;
  margin-top: .2em;
  color: #12b2ce;
}
.logodiv0{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.logolink:hover {
   text-decoration:none;
}
.footer{
  width:100%;
  background-color: #f2f2f2;
  position: "fixed";
  vertical-align:middle;
}
.footerchild{
  width:94%;
  margin: auto;
}

.footer-menu{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.mamad{
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  margin: auto;
  flex-direction: row-reverse;
}
.logo-menu-font{
  font-family: IRANSans;
  font-size: 1em;
  font-style: normal;
	font-weight: 500;
  margin-top: 1em;
  margin-left: 1em;
  color: #646464;
}
.social-image{
  height:1.6em;
  margin-right: 1em;
  margin-top: 1em;

}
.freezone{
  width:100%;
  background-color: red;
}
:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.main{
  height:100%;
}



@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('./fonts/eot/IRANSansWeb_Black.eot');
	src: url('./fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/eot/IRANSansWeb_Bold.eot');
	src: url('./fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/eot/IRANSansWeb_Medium.eot');
	src: url('./fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/eot/IRANSansWeb_Light.eot');
	src: url('./fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('./fonts/eot/IRANSansWeb_UltraLight.eot');
	src: url('./fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/eot/IRANSansWeb.eot');
	src: url('./fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb.ttf') format('truetype');
}
