
/*generas style here  */


/*general style finished */

/*xl style here  */
.request-item-no-house-main-container{
  border-radius: 6px 6px 6px 6px;
  border: solid;
  border-width: 2px;
  width : 1000px;
  margin : auto;
  margin-top: 30px;
  border-color: #ececec;
  background-color: white;
  height:100%;
  padding-bottom: 50px;
  font-family: IRANSans;
  font-size: 16px;
  text-align: center;
}

.request-item-request-status-h1{
  font-family: IRANSans;
  font-size: 20px;
  color: #454545;
  text-align: center;
  padding-top: 30px;
  font-weight: 500;
}
.request-item-request-status-h2{
  font-family: IRANSans;
  font-size: 18px;
  color: #f56c4e;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}
/*xl style finished  */



/*md style here  */
.request-item-no-house-main-container-md{
  border-radius: 6px 6px 6px 6px;
  border: solid;
  border-width: 2px;
  width : 1000px;
  margin : auto;
  /* margin-top: 30px; */
  border-color: #ececec;
  background-color: white;
  height:100%;
  padding-bottom: 50px;
  font-family: IRANSans;
  font-size: 16px;
  text-align: center;
  transform : scale(0.95,0.95);
}
/*md style finished  */
/*sm style here  */
/*sm style finished  */

/*xs style here  */
/*x style finished  */
