
/*generas style here  */


/*general style finished */

/*xl style here  */

.request-card-container{
   background-color: white;
   font-family: IRANSans;
   border: solid 2px #ececec  ;
   border-radius: 5px;
   height : 80%;
   width : 600px;
   margin-top: 30px;
   padding-bottom: 30px;
   margin-bottom: 40px;
}
.request-item-details{
  width :80%;
  margin-top : 40px !important;
  height:80%;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  text-align : right;
  justify-content: space-around;
  margin: auto;
}
.request-item-details-text{
  font-weight: 600;
}
.request-item-details-card{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border: solid 2px #cecece;
  border-radius: 5px;
  margin-bottom: 25px;
  margin-top: 20px;
  padding: 10px;
  background-color: #f9f9f9;
}
.request-status-description-title{
  color:#f54e4e;
  font-weight:600;
}
.request-item-details-description{
  color:#f54e4e;
  font-weight:400;
}
.request-item-details-status{
  font-weight: 500;
  font-size: 16px;
}
.request-item-details-dates{
  display: flex;
  flex-direction: row !important;
  justify-content: flex-end;
}
.request-item-details-entrance-date{
  margin-left: 40px;
  line-height: 2;
}
.request-item-details-exit-date{
  line-height: 2;

}
.request-item-details-card-description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.request-item-details-card-img{
  border: solid 1px black;
  margin-left: 20px;
}
.request-item-details-final-cost{
  color:#f54e4e;
  font-weight:600;
}

.request-item-details-extra-bold-texts{
  font-weight: 600;
  color: black !important;
}
.request-item-details-dates{
  color: #12b2ce;
  font-weight: 500;
}
.request-item-details-card-host-name{
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
  direction: rtl;
}
.request-item-no-house-main-container{
  border-radius: 6px 6px 6px 6px;
  border: solid;
  border-width: 2px;
  width : 800px;
  margin : auto;
  margin-top: 30px;
  border-color: #ececec;
  background-color: white;
  height:100%;
  padding-bottom: 50px;
  font-family: IRANSans;
  font-size: 16px;
  text-align: center;
}

.request-item-request-status-h1{
  font-family: IRANSans;
  font-size: 20px;
  color: #454545;
  text-align: center;
  padding-top: 30px;
  font-weight: 500;
}
.request-item-request-status-h2{
  font-family: IRANSans;
  font-size: 18px;
  color: #f56c4e;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}
.request-item-status-descriptions{
  font-family: IRANSans;
  font-size: 14px;
  color: #f56c4e;
  text-align: center;
  padding-right: 60px;
  padding-left: 60px;
  font-weight: 400;
}
.request-item-detail{
  width: 82%;
  margin: auto;
}
.cancel-button-modal-buttons{
  display: flex;
  display:-webkit-flex;
  flex-direction: row;
  justify-content: flex-end;
}
.request-item-no-button-modal{
  width:140px;
  margin-top: 5px;
  margin-right: 10px;
  border: solid;
  border-color: #f54e4e;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0.3px;
  padding-bottom: 0.3px;
  color:#f54e4e;
}
.request-item-yes-button-modal{
  color: white;
  background-color: #12b2ce;
  width:140px;
  margin-right: 10px;
  margin-top: 5px !important;
  border: solid;
  border-color:#12b2ce;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0.3px;
  padding-bottom: 0.3px;
  color:#fff;
}
.request-item-no-button-modal:hover{
  width:140px;
  margin-right: 10px;
  margin-top: 5px;
  border: solid;
  border-color: #f54e4e;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0.3px;
  padding-bottom: 0.3px;
  color: #fff;
  background-color: #f54e4e;

}

.request-item-yes-button-modal:hover{
  color: white;
  background-color: #008fb3;
  width:140px;
  margin-right: 10px;
  margin-top: 5px !important;
  border: solid;
  border-color:#008fb3;
  border-width: 2px;
  border-radius: 5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 0.3px;
  padding-bottom: 0.3px;
  color:#fff;
}
.cancel-button-modal-buttons{
  text-align: center;
}
.cancel-button-modal-question{
text-align: center;
}
.cancel-button-modal{
  margin-right: -15px;
  padding-top:20px;
}

/*xl style finished  */



/*md style here  */
.request-item-no-house-main-container-md{
  border-radius: 6px 6px 6px 6px;
  border: solid;
  border-width: 2px;
  width : 1000px;
  margin : auto;
  /* margin-top: 30px; */
  border-color: #ececec;
  background-color: white;
  height:100%;
  padding-bottom: 50px;
  font-family: IRANSans;
  font-size: 16px;
  text-align: center;
  transform : scale(0.95,0.95);
}
/*md style finished  */
/*sm style here  */
/*sm style finished  */

/*xs style here  */
/*x style finished  */
